<!DOCTYPE HTML>
<html>
    <head>
        <title>garage-pi</title>
        <meta charset="utf-8">
        <meta name="description" content="garage-pi">
        <meta name="author" content="Michael Russell">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <style>
        .button {
          padding: 15px 25px;
          font-size: 24px;
          text-align: center;
          cursor: pointer;
          outline: none;
          color: #fff;
          background-color: #4CAF50;
          border: none;
          border-radius: 15px;
          box-shadow: 0 9px #999;
        }

        .button:hover {background-color: #3e8e41}

        .button:active {
          background-color: #3e8e41;
          box-shadow: 0 5px #666;
          transform: translateY(4px);
        }
        </style>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"> </script>

        <script>
        // socket IO client side
        function ready() {
          var url = "{{http}}" + document.domain + ':' + location.port + '/status';
          console.log(url);
          var socket = io.connect(url);
          socket.on('connect', () => {
            console.log("connected");
            console.log(socket.id);
          }) // end socket.on

          socket.on('status', function(json) {
            console.log("io: " + json.door1)
              updateStatus(json);
          });

        }
        document.addEventListener("DOMContentLoaded", ready);

        function updateStatus(json)
        {
            door1button = document.getElementById("door1button");
            door2button = document.getElementById("door2button");
            plugbutton = document.getElementById("plugbutton");
            // update buttons
            if (json.door1)
            {
              //console.log("making red");
              door1button.innerHTML = "Close";
              door1button.style = "background-color: #FF0000"; // red
            } else {
              //console.log("making green");
              door1button.innerHTML = "Open";
              door1button.style = "background-color: #4CAF50"; // green
            }
            if (json.door2)
            {
              door2button.innerHTML = "Close";
              door2button.style = "background-color: #FF0000";
            } else {
              door2button.innerHTML = "Open";
              door2button.style = "background-color: #4CAF50";
            }
            if (json.plugged_in)
            {
              plugbutton.innerHTML = "Plugged in";
              plugbutton.style = "background-color: #4CAF50";
            } else {
              plugbutton.innerHTML = "Unplugged";
              plugbutton.style = "background-color: #FF0000";
            }
        }

        function trigger1()
        {
          $.getJSON('/trigger1', {},
            function(data) {
               // server Response
            });
        }
        function trigger2()
        {
          $.getJSON('/trigger2', {},
            function(data) {
               // server Response
            });
        }
        </script>

        </head>
        <body>
        Welcome to garage-pi<br>
        <button id="door1button" class="button" onClick="trigger1();">Checking...</button>
        <BR><BR>
        <button id="door2button" class="button" onClick="trigger2();">Checking...</button>
        <BR><BR>
        <button id="plugbutton" class="button">Contacting GPT...</button>
        <BR><BR>
          {{datetime}} <BR>

        <img src="/video_feed" style="transform:rotate(0deg);">

        </body>
        </html>
